@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root{
    --color-backarticle: rgba(211, 211, 211, 0.486);
}
body{
    width: 100%;
    height: 100%;
}
header{
    background-image: URL("../ressources/fondtomates.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px gray;
}
h1{
    font-family: "Dancing Script";
    font-size: 5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

footer{
    background-color: var(--color-backarticle);
    text-align: center;
    padding: 2rem;
}
nav{
    padding-bottom: 1rem;
}
nav li{
    display: inline;
    font-size: large;
}

h2{
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1.5rem;
}
article img{
    max-width: 15rem;
    border-radius: 10px;
}

div{
    display: inline;
}

article{
    background-color: var(--color-backarticle);
    width: 80%;
    margin: 1.7rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}