@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Petit+Formal+Script&display=swap');

:root{
    --color-navbar: rgba(211, 211, 211, 0.3);
    --color-navbarhover: rgba(92, 90, 90, 0.582);
    --color-separator: rgba(36, 33, 33, 0.103);
    --color-backmain: rgb(238, 237, 237);
    --color-backarticle: rgb(233, 232, 232);
    --color-h2:rgb(203, 235, 208);
    --color-title: white;
    --color-title-shadow:rgba(83, 78, 78, 0.521);
    --font-title: "Dancing Script"
}

body{
    width: 100%;
    height: 100%;
    font-family: "Petit Formal Script", cursive;
    font-size: 1.3rem;
    background-color: var(--color-backmain);
}

header{
    background-image: URL("../ressources/fondtomates.jpg");
    background-size: cover;
    text-align: center;
    color: var(--color-title);
    font-family: var(--font-title);
}

h1{
    text-shadow: 1px 1px 1px var(--color-title-shadow);
    font-size: 5rem;
    padding: 3rem 0;
}
nav{
    width: 70%;
    background-color: var(--color-navbar);
    margin: 0 auto;
    border-radius: 0.7rem 0.7rem 0 0 ;
    display: flex;
    justify-content:space-evenly;
}

nav div{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

nav a{
    width: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: normal;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: aliceblue;
    border-left: 1px solid var(--color-separator)
}

a:first-child{
    border-left: none;
}

nav a:hover{
    transition: 0.3s;
    color: white;
    background-color: var(--color-navbarhover);
}

a:first-child:hover{
    border-radius: 0.7rem 0 0 0;
}

a:last-child:hover{
    border-radius: 0 0.7rem 0 0;
}

/*footer{
    background-color: var(--color-backarticle);
    text-align: center;
    padding: 2rem;
}*/

main{
    height: 100%;
    width: 70%;
    margin: 2rem auto 0 auto;
}

article{
    min-height: 20rem;
    margin: 0 auto;
    position: relative;
    padding: 1.5rem 2rem 3rem 2rem;
}

article img{
    max-width: 15rem;
    border-radius: 10px;
    position: absolute;
    top: 0px;
}

.left img{
    left:0px;
    transform: rotate(357deg);
}
.right img{
    right: 0px;
    transform: rotate(3deg);
}

.full img{
    width: 12rem;
    height: 12rem;
}

h2{
    font-family: "Dancing Script";
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0rem 2rem 0rem;
    line-height: 3rem;
    padding: 1rem;
    background-color: var(--color-h2);
    border-radius: 1.5rem;
}
.left.full h2{
    margin-left: 12rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.right.full h2{
    margin-right: 12rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

article div{
    min-height: 17rem;
    border-radius: 2rem;
    background-color: var(--color-backarticle);
    line-height: 2rem;
    text-align: center;
    vertical-align: middle;
}

.left div{
    padding: 1rem 3rem 3rem 16rem;
}
.right div{
    padding: 1rem 16rem 3rem 3rem;
}

.full div{
    padding: 1rem 3rem 3rem 3rem;
}

.newsletter {
    margin-top: 3rem;
}
strong{
    font-size: 1.5rem;
    line-height: 4rem;
}

@media screen and (max-width: 1160px){
    nav, main{
        width: 90%;
    }
}



@media screen and (max-width: 910px) {
    article img{
        position: relative;
        aspect-ratio: 3/1;
        min-width: 100%;
        object-fit: cover;
        border-radius: 0 0 2rem 2rem;
    }

    .left img{
        transform: rotate(0);
    }
    .right img{
        transform: rotate(0);
    }

    nav{
        width: 100%;
        border-radius: 0;
    }   

    /*.sticky{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        overscroll-behavior-block: scroll;
    }*/

    .left div, .right div{
        padding: 1rem 1.5rem 1rem 1.5rem;
        border-radius: 2rem 2rem 0 0;
        min-height: 4rem;
        margin-top: 0;
    }


    article{
        margin-top: 2rem;
        padding: 0rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }


    main{
        margin: 2rem auto 10rem auto;
    }

    h1{
        display: block;
        align-items: center;
        padding: 1rem 0;
    }
    div:first-child a:first-child:hover{
        border-radius: 0;
    }
    
    div:last-child a:last-child:hover{
        border-radius: 0;
    }

    .left.full h2, .right.full h2{
        margin: 0 0rem 2rem 0rem;
}