<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <title>Jardin des Anciens</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>Le Jardin des Anciens</h1>
    </header>
    <main>
        <div  class="lowheader">
            <nav>
                <a href="/">Accueil</a>
                <a href="/plants/">Plants</a>
                <a href="/tips/">Conseils</a>
                <a href="/pictures/">Photos</a>
            </nav>
        </div>