<%- include('partials/header.ejs')%>
        <div  class="mainContainer">
            <article class="left bigger">
                <img src="/img/legal.jpg" alt="Meme Legal">
                <div class="article_text">
                    <h2>I'm</br>calling</br>the cops</h2>

                    <p>
                    </br> </br>
                    <strong>Politique de confidentialité</strong> 
                    </br> </br>
                        Nous sommes engagés à protéger la vie privée de nos utilisateurs et nous prenons très au sérieux la protection de leurs données personnelles. Nous collectons uniquement les données nécessaires pour permettre aux utilisateurs de faire des réservations sans engagement et de conserver leur historique de réservations des années précédentes. 
                    </br> </br>
                        Les données collectées sont le pseudo, l'email et l'historique de réservations des années précédentes. Nous traitons ces données de manière confidentielle et sécurisée, conformément à la réglementation en vigueur en matière de protection des données personnelles. 
                    </br> </br>
                        Nous ne communiquons pas les données collectées à des tiers, sauf si cela est exigé par la loi. 
                    </br> </br>
                        Les utilisateurs ont le droit d'accéder, de rectifier, d'opposer et de supprimer leurs données personnelles. Ils peuvent exercer ces droits en envoyant une demande écrite à l'adresse suivante : 
                    </br> </br>
                        Pierre Mangeot
                        pierre.mangeot@gmail.com
                    </br> </br>
                        Nous nous engageons à mettre en œuvre toutes les mesures nécessaires pour assurer la sécurité et la confidentialité des données collectées. 
                    </br> </br>
                        Date de dernière mise à jour : 24 mai 2023.</p>
                </div>
            </article>
        </div>
<%- include('partials/footer.ejs')%>