<%- include('partials/header.ejs')%>
        <div  class="mainContainer">
            <article class="left bigger">
                <img src="/img/legal.jpg" alt="Meme Legal">
                <div class="article_text">
                    <h2>I'm</br>calling</br>the cops</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vero, neque blanditiis maiores illum veritatis labore doloribus voluptas, odio doloremque vitae fugiat ducimus magnam? Esse odio illo iste commodi modi!</p>
                </div>
            </article>
        </div>
<%- include('partials/footer.ejs')%>