<%- include('partials/header.ejs')%>
        <div class="mainContainer" id="album">
            <article class="album centered">
                <div>
                    <h2>Photos</h2>
                    <album>
                        <img src="/img/plantationtomates.jpg" alt="Photo de l'album">
                        <img src="/img/1674766806683.jpg" alt="Photo de l'album">
                        <img src="/img/1674766806697.jpg" alt="Photo de l'album">
                        <img src="/img/1674766806707.jpg" alt="Photo de l'album">
                        <img src="/img/1674766806718.jpg" alt="Photo de l'album">
                        <img src="/img/1674766806728.jpg" alt="Photo de l'album">
                        <img src="/img/1674766806738.jpg" alt="Photo de l'album">
                        <img src="/img/1674766806749.jpg" alt="Photo de l'album">
                        <img src="/img/1674766832237.jpg" alt="Photo de l'album">
                        <img src="/img/1674766832244.jpg" alt="Photo de l'album">
                        <img src="/img/1674766832252.jpg" alt="Photo de l'album">
                        <img src="/img/1674766832259.jpg" alt="Photo de l'album">
                        <img src="/img/1674766832269.jpg" alt="Photo de l'album">
                        <img src="/img/1674766832276.jpg" alt="Photo de l'album">

                    </album>
                </div>
            </article>
        </div>
<%- include('partials/footer.ejs')%>